params {
    experiment = "SELEX"
    author = ""
    ngs_run_date = null

    input_dir = "./input_data"          // optional
    output_dir = "./output"             // optional
    fastq_pattern = null
    selex_rounds = null    // optional, if null then alphabetical order is used
    
    trim_filenames = false
    trim_delimiter = null
    
    random_region = null
    random_region_min = null   // optional
    random_region_max = null   // optional
    
    primer5 = null
    primer3 = null      
    
    trim.max_error_rate = 0.2           // maximum error rate in the primers to be recognized
    filter.min_phred_quality = 30       // default average sequence read quality to include sequence
    merge.base_correction = true        // enables base correctio if paired-end reads mismatch and there are major quality differences
    merge.max_mismatches = 1            // allowed number of mismatches for merging
}
