profiles {
	conda {
		process.conda='bioconda::fastp bioconda::cutadapt conda-forge:pandas conda-forge:r-base conda-forge:r-argparse conda-forge:r-here conda-forge:r-biocmanager conda-forge:r-ggplot2 conda-forge:r-stringr conda-forge:r-knitr conda-forge:r-markdown conda-forge:dplyr conda-forge:r-tidyr conda-forge:r-viridis'
	}
}
