params {
    fastq_pattern = "*R{1,2}_001.fastq"     // wildcard pattern to find FASTQ files
    round_order = ["R0", "R2", "R3", "R4", "R5", "R6", "R7", "R8", "R9"]
    
    
    trim_filenames = true
    trim_delimiter = "_"
    
    // Length of random region
    random_region = 40
    
    // Forward and reverse primers (flanking regions)
    primer5 = "TAGGGAAGAGAAGGACATATGAT"
    primer3 = "TTGACTAGTACATGACCACTTGA"
    
    filter.min_phred_quality = 30       // default average sequence read quality to include sequence
}
